/* Regular Font */
@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}

/* Bold Font */
@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #ffff;
}
input::placeholder {
  color: #fff;
  opacity: 1;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

input[type="radio"]:checked {
  background-color: #b9ff66;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 14px;
  background-color: #f9f9f9;
  border: 1px solid #000;
}

textarea {
  min-height: 120px;
  resize: vertical;
}
